/* 個別設定 */
.basew{
    max-width: var(--contentWidth);
    margin: auto;
}
.basedcol{
 display: flex;
}

a{
    text-decoration: none;
}
a:hover{
    opacity: 0.8;
}

body{
    font-size: var(--font-size-lg);
    background-color: var(--background-default-default);
}


header{
    display: block;
    margin-bottom: var(--margin-bottom);
    font-size: var(--small-text-size);
    /* background-color: var(--background-warning-secondary); */
    padding-top:var(--space-400);

    height: 700px;

    background-image: url(../images/person.png);
    background-repeat: no-repeat;
    background-position: right 11vh;
    background-attachment: fixed;
    background-size:contain;
    background-color:rgba(250, 224, 119, 0.5);
    background-blend-mode:lighten;



    #navigation{
        display: flex;
        justify-content:space-between;
        max-width: var(--contentWidth);
        margin-left: auto;
        margin-right: auto;
        border-bottom:1px solid  rgba(229, 160, 0, .5);
    }
    a{
        display: block;
        padding: var(--space-200);
        
    }
    #logo{
        margin-top: -.25rem;
        a{
            padding-left: 0;
            font-weight: 600;
            font-size: var(--font-size-5xl);
        }
        a span{
            font-weight: 600;
            color: var(--text-warning-tertiary);
            padding-left:0.2em;
        }
        a::first-letter{
            font-size: 1.1em;
            font-weight: 600;
            color: var(--color-black);
        }
    } 
    

    nav{
        display: block;
        ul{
            display: flex;
            
            align-items: center;
            justify-content: flex-end;
    
            column-gap: var(--gap-13xl);
            color: var(--text-default-default);
            font-family: var(--font-albert-sans);
            list-style: none;
            margin: 0;

            a{
                font-size: var(--font-size-lg);
            }


            .contactBtn a{
                border-radius: var(--br-5xs);
                background-color: var(--background-positive-default);
                color: var(--background-default-default);
                padding:.5em .75em

            }
            .contactBtn a:hover{
                background-color: #10a411;
                color: white;
                opacity: unset;
            }
            
        }
    }
    


    h1{
        /* position: relative; */
        letter-spacing: -0.02em;
        line-height: 140%;
        font-weight: 600;
        text-shadow: var(--drop-shadow-100);
        font-family: var(--font-ubuntu-sans);
        color: var(--text-warning-tertiary);
        font-size: var(--font-size-29xl);
    }
    p{
        font-size: var(--font-size-5xl);
    }
    button{
        box-shadow: var(--button-shadow);
        border-radius: var(--br-5xs);
        background-color: var(--background-positive-default);
        font-size: var(--small-text-size);
    }

    button a{
        display: block;
        padding: 20px 32px;
        color: var(--text-neutral-on-neutral);
        cursor: pointer;
    }
    button:hover,button a:hover{
        background-color: #10a411;
        color: white;
        border-radius: var(--br-5xs);
    }
    

    #heroMessage{
        display: grid;
        place-items: center;
        height: 600px;
        max-width: var(--contentWidth);
        margin-left: auto;
        margin-right: auto;


        div{
            display: grid;
            justify-items:center;
            grid-template-rows: 2fr 1fr 1fr;
        }
        div button{
            align-self: center;
        }
    }

}




main{
    display: block;
    margin-left: auto;
    margin-right: auto;

    #works,#profile{
        flex-direction: row-reverse;
    }


    section{

        column-gap:var(--gap-49xl);
        margin-bottom: var(--margin-bottom);
        align-items: center;
    
        div button{
            background-color: var(--background-warning-hover);
            align-self:flex-start;
            padding: var(--padding-xs) var(--padding-5xl);
            letter-spacing: 0.2rem;
            border-radius: var(--br-5xs);
            color: var(--text-brand-on-brand);

        }
        button a{
            display: block;
            cursor: pointer;
            color: var(--text-neutral-on-neutral);
        }

        div{
            display: flex;
            flex-direction: column;
            row-gap: var(--gap-5xl);

        }

        h2{
            font-size: var(--font-size-13xl);
            font-weight: 600;
            margin-bottom: var(--small-text-size);
            font-size: var(--font-size-13xl);
            font-family: var(--font-albert-sans);
        }

        h2::first-letter{
            font-size: 1.5em;
            font-weight: 800;
            color: var(--color-saddlebrown);
        }
        .secImg{
            display: block;
            height: auto;
            flex-shrink: 0;
        }
        .secImg img{
            width: clamp(300px, 425px, 624px);
        }
        .charactor{
            font-weight: 600px;
            font-size: var(--font-size-21xl);
        }
        .charactor span{
            color: var(--color-saddlebrown);
        }
    }
    section#profile{

        div > div{
            gap: unset;
        }
        h3{
            font-size: var(--font-size-lg);
            font-weight: normal;
        }
        h3::first-letter{
            font-size: var(--font-size-lg);
            font-weight: 800;
        }
        p{margin-left: 1em;}
        ul{
            list-style: disc outside;
            margin-left: 2em;
        }
    }

    
}


footer .basew{
    display: flex;
    flex-direction: column;
    font-size: var(--small-text-size);
    padding-bottom: var(--padding-13xl);
    row-gap: var(--gap-5xl);

    
    ul{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: var(--gap-13xl);
        color: var(--text-default-default);
    }
    #footername{
        text-align: center;

        p{
            padding-bottom: var(--space-300);
            word-spacing: var(--space-200);
        }
        p span{
            font-weight: 800;
            color: var(--text-warning-tertiary);
            font-size: var(--font-size-xl);
            padding-left: .25rem;
        }
        p::first-letter{
            font-weight: 600;
        }
    }
    .sns ul{
        gap: var(--gap-5xl);
        font-size: var(--font-size-sm);
    }

}


    /* 画面サイズ 930px 未満 */
    @media (width < 930px) {

        header,main,footer{
            padding-left: var(--space-200);
            padding-right: var(--space-200);
        }

        header{
            height:min(70vh,700px);
            background-position: center;
            background-size:100%;

            nav{
                ul{
                    column-gap: var(--gap-base);
                }

            }

            #heroMessage{
                height: min(50vh,500px);
            }
        }
        main{

            section{

                .secImg{
                    /* flex-shrink: unset; */
                }
                .secImg img{
                    width: min(280px, 350px);
                }

            }


        }
      }

    /* 画面サイズ 630px 未満 */
    @media (width < 630px) {
        header{

            nav{
                display: none;
            }

        }
        footer{
            position: fixed;
            bottom: 0;
            width: 100%;
            padding: var(--space-300);
            background-color: var(--background-warning-secondary);
            
            .basew{
                padding-bottom: .5em;
                row-gap: .45em;

                nav ul{
                    gap: var(--small-text-size);
                    /* justify-content: space-around; */
                }
                nav a{
                    /* text-decoration: underline; */
                    display: block;
                    padding:.5em 1em;
                    backdrop-filter: sepia(90%);
                }
                nav a:hover,nav a:active{
                    text-decoration: underline;
                    color: var(--text-neutral-default);
                }
                
                .sns ul{
                    justify-content: center;
                    gap:1em;
                }
                #footername  p{
                    border-top:1px solid var(--border-neutral-secondary);
                    padding-top:.45em
                }
            }


        }

        main{

            section,#works,#profile{
                flex-direction: column-reverse;
                align-self: start;
                gap: var(--gap-5xl);

                div{
                 gap: var(--gap-5xl);
                }

                .secImg img{
                    width: 100%;
                    height: auto;
                }
            }
 
        }
    }

        
        

